@import "./fonts.scss";
@import "./colors.scss";
@import "./breakpoints.scss";

html,
body {
  height: 100%;
  opacity: 1 !important;
}

body {
  color: var(--black);
  font-family: $onest;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  scroll-behavior: smooth;

  &.scroll-disabled {
    height: 100vh;
    overflow: hidden;
  }
}

.hidden {
  display: block;
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}
