@import './breakpoints.scss';

:root {
  .display-44-bold {
    font-size: 44px;
    line-height: 52px;
    font-weight: 700;
  }

  .display-32-bold {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }

  .display-28-bold {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
  }

  .heading-24 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
  }

  .heading-20 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
  }

  .heading-18 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
  }

  .heading-16 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
  }

  .heading-14 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
  }

  .heading-12 {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
  }

  .heading-10 {
    font-size: 10px;
    line-height: 14px;
    font-weight: 700;
  }

  .semibold-18 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }

  .medium-18 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }

  .regular-18 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .semibold-16 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
  }

  .meduim-16 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }

  .regular-16 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }

  .meduim-15 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
  }

  .semibold-14 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }

  .medium-14 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  .regular-14 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  .regular-13 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }

  .semibold-12 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
  }

  .medium-12 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }

  .regular-12 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .medium-11 {
    font-size: 11px;
    line-height: 15px;
    font-weight: 500;
  }

  .semibold-10 {
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
  }

  .medium-10 {
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
  }
}

@media screen and (max-width: $mobile) {
  :root {
    .display-44-bold-m {
      font-size: 44px;
      line-height: 52px;
      font-weight: 700;
    }

    .display-32-bold-m {
      font-size: 32px;
      line-height: 40px;
      font-weight: 700;
    }

    .display-28-bold-m {
      font-size: 28px;
      line-height: 34px;
      font-weight: 700;
    }

    .heading-24-m {
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
    }

    .heading-20-m {
      font-size: 20px;
      line-height: 26px;
      font-weight: 700;
    }

    .heading-18-m {
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
    }

    .heading-16-m {
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;
    }

    .heading-14-m {
      font-size: 14px;
      line-height: 18px;
      font-weight: 700;
    }

    .heading-12-m {
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
    }

    .heading-10-m {
      font-size: 10px;
      line-height: 14px;
      font-weight: 700;
    }

    .semibold-18-m {
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
    }

    .medium-18-m {
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
    }

    .regular-18-m {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
    }

    .semibold-16-m {
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;
    }

    .meduim-16-m {
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
    }

    .regular-16-m {
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
    }

    .meduim-15-m {
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
    }

    .semibold-14-m {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }

    .medium-14-m {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
    }

    .regular-14-m {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }

    .regular-13-m {
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
    }

    .semibold-12-m {
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
    }

    .medium-12-m {
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
    }

    .regular-12-m {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
    }

    .medium-11-m {
      font-size: 11px;
      line-height: 15px;
      font-weight: 500;
    }

    .semibold-10-m {
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
    }

    .medium-10-m {
      font-size: 10px;
      line-height: 14px;
      font-weight: 500;
    }
  }
}
